__pycache__/
*.pyc
.env
.ipynb_checkpoints
.DS_Store
email_dataset/train/train_emails.csv
email_dataset/test/test_emails.csv
email_dataset/validation/validation_emails.csv
email_dataset/raw_data/emails.csv
email_dataset/raw_data/emails.csv.zip



